{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ page_title }} {% endblock %}

{% block scripts %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <script src="{{url_for('static', filename='countup.js')}}"></script>
    <script src="{{url_for('static', filename='dropdown.js')}}"></script>
    <script src="{{url_for('static', filename='alertremover.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for("index") }}">Strikometer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{ url_for("about") }}">About</a></li>
            <li role="presentation"><a href="{{ url_for("contact") }}">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
    <span style="display:inline-block; height: 30px"></span>
      <div class="jumbotron text-center">
          <span style="display:inline-block;"></span>
          <h1 class="counter">Loading counter...</h1>
          <h3>...into the ASUU Strike</h3>
      </div>

      <div class="row marketing">


      {%  for message in get_flashed_messages() %}
          <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
      {% endfor %}
      <div class="col-lg-6 col-md-offset-3 text-center"><b>Curated ASUU News</b></div>
      {% if news_details|length > 0 and news_details|length < 4 %}
        <div class="col-lg-6 col-md-offset-3 text-center">
                {% for each in news_details[:3] %}
                    <span style="display:inline-block;"></span>
                  <h4><a href="{{ each.link }}" target="_blank">{{ each.title }}</a></h4>
                    <h6>{{ moment(each.time).format('MMMM Do YYYY, h:mm:ss a') }}</h6>
                  <p>{{ each.summary }}</p>
                {% endfor %}

        </div>
          {% elif news_details|length > 3 %}
          <div class="col-lg-6">
                {% for each in news_details[:3] %}
                    <span style="display:inline-block;"></span>
                  <h4><a href="{{ each.link }}" target="_blank">{{ each.title }}</a></h4>
                    <h6>{{ moment(each.time).format('MMMM Do YYYY, h:mm:ss a') }}</h6>
                  <p>{{ each.summary }}</p>
                {% endfor %}

        </div>
      {% endif %}
      {% if news_details|length > 3 %}
        <div class="col-lg-6">
                {% for each in news_details[3:] %}
                    <span style="display:inline-block;"></span>
                  <h4><a href="{{ each.link }}" target="_blank">{{ each.title }}</a></h4>
                    <h6>{{ moment(each.time).format('MMMM Do YYYY, h:mm:ss a') }}</h6>
                  <p>{{ each.summary }}</p>
                {% endfor %}

        </div>
      {% endif %}

      </div>
    {% if form %}
    <span style="display:inline-block; height: 50px"></span>
        <div class="col-lg-6 col-md-offset-3 text-center">

            <i>Kindly leave feedback. It goes a long way.</i>
            {{ wtf.quick_form(form) }}

        </div>
    {% endif %}
    <span style="display:inline-block; height: 100px"></span>
    </div> <!-- /container -->

    {% block footer %}
      <footer class="page-footer font-small blue navbar-default navbar-fixed-bottom">
      <div class="footer-copyright text-center py-3">© 2018 Copyright: Made with ❤️ by
        <a href="https://github.com/HAKSOAT"> HAKS</a>
      </div>
      </footer>

    {% endblock %}

{% endblock %}

